.profile-container{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    img {
        width: 150px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
.profil{

}

.profile-info {
    flex: 1;
}
