<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OnlyWish</title>
  <link rel="stylesheet" href="../static/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="../static/headerAndFooter.css" th:href="@{/css/headerAndFooter.css}">
</head>
<body>
<header>
  <img src="../img/clouds.gif" alt="Topbillede" class="header-image">
  <h3>Onlywish</h3>
  <img src="../img/logo.png" alt="Logo" class="logo">

  <nav>
    <a th:href="@{/}">Forside</a>
    <a th:href="@{/users/profileheader}">Min Profil</a>
    <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
    <a th:href="@{/users/login}">Login</a>
    <a th:href="@{/users/createuser}">Opret bruger</a>
  </nav>
</header>

<main>
  <form th:action="@{/wish/saveCreateWish}" method="post">
    <input type="hidden" name="wishlistId" th:value="${wishlist.id}" />

    <label>Navn:</label>
    <input type="text" name="name" required>

    <label>Pris:</label>
    <input type="number" name="price" step="0.01" required>

    <label>Beskrivelse:</label>
    <textarea name="description"></textarea>

    <label>Billede URL:</label>
    <input type="text" name="imageurl">

    <label>Produktlink:</label>
    <input type="text" name="productlink">

    <button type="submit">Gem Ønske</button>
  </form>

</main>

<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h2>Om Os</h2>
      <p>Vi er en virksomhed, der brænder for at levere de bedste produkter og tjenester.</p>
    </div>

    <div class="footer-section links">
      <h2>Nyttige Links</h2>
      <ul>
        <a th:href="@{/}">Forside</a>
        <a th:href="@{/users/profileheader}">Min Profil</a>
        <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
      </ul>
    </div>

    <div class="footer-section contact">
      <h2>Kontakt Os</h2>
      <p>Email: onlywish@kontakt.dk</p>
      <p>Telefon: +45 12 34 56 78</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p text="2025 Onlywish | Alle rettigheder forbeholdes">© 2025 Onlywish | Alle rettigheder forbeholdes</p>
  </div>
</footer>
</body>
</html>
