<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OnlyWish</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/headerAndFooter.css}">
  <link rel="stylesheet" th:href="@{/css/createWish.css}">
</head>
<body>
<header>
  <img th:src="@{/img/clouds-sky.jpg}" alt="Topbillede" class="header-image">
  <img th:src="@{/img/logo.png}" alt="Logo" class="logo">

  <nav>
    <a th:href="@{/}">Forside</a>
    <a th:href="@{/users/profileheader}">Min Profil</a>
    <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
  </nav>
</header>

<main class="create-Wish main-content">
  <form th:action="@{/wish/saveCreateWish}" method="post">
    <input type="hidden" name="wishlistId" th:value="${wishlistId}" />
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" placeholder="Indtast navn på ønske" required />

    <label for="price">Pris:</label>
    <input type="number" id="price" name="price" placeholder="Indtast prisen" />

    <label for="description">Beskrivelse:</label>
    <textarea id="description" name="description" placeholder="Indtast beskrivelse"></textarea>

    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" placeholder="Indtast image URL" />

    <label for="productlink">Product Link:</label>
    <input type="text" id="productlink" name="productlink" placeholder="Indtast product link" />

    <button type="submit">Gem Ønske</button>
  </form>
</main>


<footer xmlns:th="http://www.thymeleaf.org">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>Om Os</h2>
      <p>Vi er en virksomhed, der brænder for at levere de bedste produkter og tjenester.</p>
    </div>

    <div class="footer-section links">
      <h2>Nyttige Links</h2>
      <ul>
        <li><a th:href="@{/}">Forside</a></li>
        <li><a th:href="@{/users/profileheader}">Min Profil</a></li>
        <li><a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h2>Kontakt Os</h2>
      <p>Email: <span th:text="${contactEmail ?: 'onlywish@kontakt.dk'}">onlywish@kontakt.dk</span></p>
      <p>Telefon: <span th:text="${contactPhone ?: '+45 25 78 59 00'}">+45 25 78 59 00</span></p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© <span th:text="${#temporals.year(#temporals.createNow())}">2025</span> Onlywish | Alle rettigheder forbeholdes</p>
  </div>
</footer>
</body>
</html>
