<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter.css}">
    <link rel="stylesheet" th:href="@{/css/MinProfil.css}">
</head>
<body>
<header>
    <img th:src="@{/img/clouds.gif}" alt="Topbillede" class="header-image">
    <img th:src="@{/img/logo.png}" alt="Logo" class="logo">
    <nav>
        <a href="index.html">Forside</a>
        <a href="profile.html">Min Profil</a>
        <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
       <!-- <a href="login.html">Login</a>-->
    </nav>
</header>
<main>
    <section class = "profile-container">
        <div class = "person">
                <img th:src="@{/img/Profile_pic.jpeg}" alt="Profilbillede">
                <link rel = ".teamet.css">
            </div>
            <div class = "profile-info">
                <div class = tekstboks>
                    <div>
                        <label>Navn:</label>
                        <p> <span th:text="${user.name}"></span></p>
                    </div>
                    <div>
                        <label>Alder:</label>
                        <p><span th:text="${user.age}"></span></p>
                    </div>
                    <div>
                        <label>Email:</label>
                        <p><span th:text="${user.email}"></span></p>
                    </div>
                </div>
                </div>
    </section>
</main>
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Om Os</h2>
            <p>Vi er en virksomhed, der brænder for at levere de bedste produkter og tjenester.</p>

        </div>

        <div class="footer-section links">
            <h2>Nyttige Links</h2>
            <ul>
                <li><a th:href="@{index.html}">Forside</a></li>
                <li><a th:href="@{profile.html}">Min Profil</a></li>                 ">Ønskeliste</a></li>
            </ul>
        </div>

        <div class="footer-section contact">
            <h2>Kontakt Os</h2>
            <p>Email: onlywish@kontakt.dk</p>
            <p>Telefon: +45 12 34 56 78</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p th:text="'© ' + ${year} + ' onlywish | Alle rettigheder forbeholdes'">
    </div>
</footer>
</body>
</html>
