<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teamet</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter.css}">
    <link rel="stylesheet" th:href="@{/css/teamet.css}">
</head>
<body>
<header>
    <img th:src="@{/img/clouds.gif}" alt="Topbillede" class="header-image">
    <img th:src="@{/img/logo.png}" alt="Logo" class="logo">

    <nav>
        <a th:href="@{/}">Forside</a>
        <a th:href="@{/users/profileheader}">Min Profil</a>
        <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
        <a th:href="@{/users/login}">Login</a>
        <a th:href="@{/users/createuser}">Opret bruger</a>
    </nav>

</header>
<main>
<h4>Hvem er vi? </h4>
<div class="Profiler">
    <div class="person">
        <a href="https://www.instagram.com/chri66j9/"><img src="../static/img/Christoffer.jpeg"></a>
        <h4>Christoffer Holm Nielsen</h4>
        <h4>Founder/Owner</h4>
        <p>"Da jeg arbejdede i et supermarked så jeg på egen hånd hvor meget mad der bliver smidt ud på dalig basis. Det er et problem både for milijøet, og for fremtiden for Danmark."</p>
    </div>

    <div class="person">
        <a href="https://www.instagram.com/gustavwilquin/"><img src="../static/img/Gustav.jpeg"></a>
        <h4>Gustav Wilquin</h4>
        <h4>Founder/Owner</h4>
        <p>Jeg går specielt ind for det grundet det er en rigtig god måde at spare penge på og det kræver ikke den store indsats for at det kan spare på hvor meget som bliver smidt ud på årlig basis</p>
    </div>

    <div class="person">
        <a href="https://www.instagram.com/sofusvingard/"><img src="../static/img/Sofus.jpeg" ></a>
        <h4>Sofus Emil Krebs Vingaard</h4>
        <h4>Founder/Owner</h4>
        <p>"I Danmark smider vi årligt flere tusind ton mad ud, men samtidigt er der børn i hele verden som kun får få måltider om ugen, vi bliver nød til at gøre det bedre."</p>
    </div>

    <div class="person">
        <a href="https://www.instagram.com/thomas__dahl/"><img src="../static/img/Thomas.jpeg" ></a>
        <h4>Thomas Dahl</h4>
        <h4>Founder/Owner</h4>
        <p>"jeg går personligt selv op i madspil fordi jeg så hvor meget mad jeg selv smed ud på mit arbejde og tænkte - det er for dårligt. Derfor tænkte jeg at indgå i arbejde for at stoppe madspil i danmark, senere hen på verdensplan."</p>
    </div>
</div>
</main>
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Om Os</h2>
            <p>Vi er en virksomhed, der brænder for at levere de bedste produkter og tjenester.</p>

        </div>

        <div class="footer-section links">
            <h2>Nyttige Links</h2>
            <ul>
                <a th:href="@{/}">Forside</a>
                <a th:href="@{/users/profileheader}">Min Profil</a>
                <a th:href="@{/wishlist/my-wishlists}">Ønskeliste</a>
            </ul>
        </div>

        <div class="footer-section contact">
            <h2>Kontakt Os</h2>
            <p>Email: onlywish@kontakt.dk</p>
            <p>Telefon: +45 12 34 56 78</p>
        </div>
    </div>

</footer>
</body>
</html>